.about-me {
    padding: 20px;
    display: flex;
    align-items: center;
    margin-top: 15%; 
}
  
.left-about {
    flex: 1;
    text-align: left;
    padding-right: 20px; /* Espaçamento entre os elementos na esquerda */
}
  
.right-about {
    flex: 1;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    padding-left: 20px; /* Espaçamento entre os elementos na direita */
}
  
.drawing-svg {
    width: 75%;
    display: block; /* Evita espaçamento indesejado em volta do SVG */
}
  
  
h2 {
    font-size: 28px;
    margin-bottom: 10px;
}
  
p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}
  
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, #505685, #476b9c, #3681b0, #2097be, #13adc7); /* Gradiente roxo para azul */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}
  
.btn:hover {
    transform: scale(1.1); 
}

.li-about {
    color: #3498db; /* Escolha uma cor suave para os links */
    font-weight: 600; /* Torna o texto um pouco mais negrito */
    text-decoration: none;
    transition: color 0.2s ease-in-out; /* Adiciona uma transição suave de cor */
    cursor: pointer;
}

.color-purple {
    color: #986dff;
}
  