/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    position: fixed;
    background-color:  #000008;
    top: 0; /* Fixa o header no topo da janela do navegador */
    width: 60%; /* Ocupa toda a largura da página */
    z-index: 999; /* Define a ordem de empilhamento do elemento, caso tenha outros elementos sobrepostos */
} 

  
.left, .center, .right {
    flex: 1; /* Divide o container em três partes iguais */
}

.right {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
}

.right a {
    margin: 0 10px; 
    cursor: pointer; 
} 

.center a {
    margin: 0 10px;
    text-decoration: none; /* Remove sublinhado  */
    color: inherit; /* Usa a cor do elemento pai (branco) */
    cursor: pointer; /* Mostra o cursor do ponteiro ao passar o mouse */
} 