/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

  
.left {
    flex: 1;
}
  
.tab {
    margin: 0 15px;
    cursor: pointer;
}
  
.portfolio-tab {
    cursor: pointer;
}

.right a {
    margin: 0 10px; /* Adjust the margin to your desired spacing */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Show the pointer cursor on hover */
}

.center a {
    margin: 0 5px;
    text-decoration: none; /* Remove sublinhado  */
    color: inherit; /* UUsa a cor do elemento pai (branco)  */
    cursor: pointer; /* Mostra o cursor do ponteiro ao passar o mouse  */
}
  