.other-skills {
    padding: 20px;
    text-align: center;
    padding-top: 30%;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: start;
  }
  
  .skills-container {
    padding-top: 8%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .skills-card {
    flex-basis: calc(25% - 20px); /* 25% de largura para cada card e 20px de espaçamento */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 16px;
    border: 2px solid #666;
    border-radius: 10px;
  }
