/* Projects.css */

.projects {
    padding: 20px;
    margin-top: 15%;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center; /* Centraliza os cards horizontalmente */
    margin-top: 5%;
  }
  
  .card {
    width: 60%;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-top-left-radius: 50px; /* Borda redonda na extremidade esquerda de cima */
    border-bottom-left-radius: 0; /* Borda quadrada na extremidade esquerda de baixo */
    border-top-right-radius: 0; /* Borda quadrada na extremidade direita de cima */
    border-bottom-right-radius: 50px; /* Borda redonda na extremidade direita de baixo */
    border: 2px solid #666; /* Borda quadrada nas partes intermediárias */
  }
  
  .project-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .p-projects {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #13ADC7;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px; /* Adiciona espaçamento à direita dos botões */
  }
  