.technologies {
  padding-top: 11%;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin-top: 20px; /* Adicione o espaçamento entre o título e os cards */
}

.cardsIcon-container {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Quebra os elementos em várias linhas */
}

.card-icon {
  flex-basis: calc(23% - 18px); /* 25% de largura para cada card e 20px de espaçamento */
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #666;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  margin: 10px; /* Adicione o espaçamento entre os cards */
}

.png-img-icons {
  margin-top: 3%;
  margin: 0;
  margin-bottom: 3%;
}

.card p {
  margin-top: 10px;
}

.card-icon:hover {
  border: 2px solid #986dff;
}
